body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 126, 232);
}

#calender {
  background-color: white;
  height: 400px;
  width: 300px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: -0.5px 2px 4px grey;
  display: grid;
  justify-content: center;
  align-items: center;
}

h4 {
  width: inherit;
  text-align: center;
}
h4#month {
  background-color: rgb(249, 89, 89);
  color: white;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  height: 80px;
  width: 300px;
}

div > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4#date {
  font-size: xx-large;
}
