body{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#calender{
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: -.5px 2px 4px grey;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* #month{
    width: inherit;
    background-color: red;
} */

h4{
    width: inherit;
    text-align: center;
    /* justify-self: center; */
}